$headerFont: 'Yeseva One', cursive
$bodyFont: 'Montserrat', sans-serif
$brandBackground: linear-gradient(to right, #2AF598 , #009EFD)
$brandColor: #1BD5BE
$box-shadow: 0 8px 60px 0 rgba(32,168,111,.11),0 12px 90px 0 rgba(32,168,111,.11)

body
  font-family: $bodyFont !important

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $headerFont

.nav-link
  font-family: $bodyFont
  font-size: 16px

.navbar-brand
  img
    width: 150px

.btn.btn-custom
  background-image: $brandBackground
  border: 0
  border-radius: 15px 0 15px 0
  padding: 12px 30px
  color: #FFFFFF !important

.navbar-nav
  a
    padding-left: 20px !important
    padding-right: 20px !important


.hero-section
  .jumbotron
    h1
      font-size: 70px

    p
      margin: 50px 0

.studio-bottom
  width: 550px
  position: relative

  img
    width: 100%
    position: absolute
    left: -120px
    top: -120px

.about-section
  background-color: #FAFFFD
  background-image: url("../images/about-bg-line.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom center

  .jumbotron
    h1
      font-size: 50px

.about-card
  border-radius: 55px 0
  transition: 500ms all cubic-bezier(.4,0,.2,1)

  .about-card-image
    width: 90px
    margin: auto

    img
      width: 100%

  .card-body
    .card-title
      font-size: 20px

.about-card:hover
  background: #FFFFFF
  box-shadow: 0 8px 60px 0 rgba(32,168,111,.11),0 12px 90px 0 rgba(32,168,111,.11)

.mobile-image
  display: none

.packages .card
  min-height: 550px
  border: 0

  .card-header
    h1
      font-size: 50px

  .divider-line
    background: $brandColor
    width: 60%
    text-align: center
    margin: auto

  li
    font-size: 18px
    padding-bottom: 20px

  .card-footer
    opacity: 0

.packages .card
    border: 4px solid transparent
    box-shadow: 0 8px 60px 0 rgba(32, 168, 111, 0.11), 0 12px 90px 0 rgba(32, 168, 111, 0.11)
    transition: 500ms all cubic-bezier(0.4, 0, 0.2, 1)


.packages .card:hover
  border: 4px solid $brandColor
  box-shadow: $box-shadow

  .divider-line
    display: none

  .card-footer
    opacity: 1

.footer
  background: #FAFFFD

.email-box
  width: 55%
  height: 70px
  border: 1px solid white
  box-sizing: border-box
  margin: auto
  padding: 10px
  background: white
  box-shadow: $box-shadow

  input
    border: none

.get-started-btn
  background: $brandBackground
  color: white
  border-radius: 7px
  padding: 12px 30px
  border-left: 1px solid white

.footer-main
  img
    width: 150px
    height: 100px

  ul
    text-align: left

  li
    padding-bottom: 10px

.social-media .icon
    height: 25px
    width: 25px
    color: grey

.social-media
  li
    margin-left: 1rem !important

// Responsive CSS
@media (max-width: 1200px)
  .hero-section,
  .about-section
    .jumbotron
      h1
        font-size: 60px

  .running-title
    font-size: 60px

  .achievement-title
    h1
      font-size: 60px

  .packages
    h1
      font-size: 60px

  .footer-caption
    h1
      font-size: 60px

@media (max-width: 991px)
  .hero-section,
  .about-section
    .jumbotron
      h1
        font-size: 50px

  .studio-bottom
    display: none

  .running-title
    font-size: 50px

  .achievement-title
    h1
      font-size: 50px

  .packages
    h1
      font-size: 50px

    .card-deck
      .card
        flex: auto
        margin-bottom: 40px

  .footer-caption
    h1
      font-size: 50px

@media (max-width: 767px)
  .ml-auto.navbar-nav
    text-align: center
    height: 100vh
    align-items: center
    padding-top: 60px

    .contact-button
      margin-top: 15px

  .hero-section,
  .about-section
    .jumbotron
      h1
        font-size: 36px

  .running-title
    font-size: 36px

  .desktop-image
    display: none

  .intro-section
    margin-top: 0

  .achievement-title
    padding-top: 0 !important
    margin-top: 0 !important

    h1
      font-size: 36px

    .description
      margin-bottom: 40px

  .packages
    h1
      font-size: 36px

    .card
      margin-bottom: 40px

      .card-footer
        opacity: 1

  .email-box
    width: 90%

    input
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

  .footer-caption
    h1
      font-size: 36px

  .footer-main
    margin-bottom: 0 !important
    padding-bottom: 0 !important

    div
      width: 100%

    ul
      text-align: center