.our-achievements-section{
     background-color: #FAFFFD;
     margin-top:150px;
}


.achievement-title h3{
    font-family:'Yeseva One';
}
.achievements-col{
    background-color: #ffffff;
    border:none;
    padding: 25px 30px;


}
/* bg #FAFFFD*/
/*background-image: linear-gradient(to right, #2AF598 , #009EFD); */