.our-achievements-section{
     background-color: #FAFFFD;
     margin-top:150px;
}


.achievement-title h3{
    font-family:'Yeseva One';
}
.achievements-col{
    padding-top:50px;
    padding-bottom:25px;
    background-image: linear-gradient(to right, #2AF598 , #009EFD);
    border-radius: 15px 0 15px 0

}
/* bg #FAFFFD*/