.intro-section{
   margin-top: 140px;
   margin-left:100px;
}
.running-title{
    font-family: 'Yeseva One';
    font-size:2vw;
    text-transform: uppercase;
}
.description{
     color: gray;
     font-family:'Montserrat, sans-serif';
     font-size:16px;
}